<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.gitlab.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>

        
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.gitlab.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>
        <b>Mobile:+91–9884856266</b><br>
        Email:<a href= "mailto:asura22nov@gmail.com">Click here to send email</a><br>
        LinkedIn:<a href="https://www.linkedin.com/in/anandasundararaman">View Profile</a><br>
        </p>
        <!--
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
        



        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      //-->
      </header>
      <section>

<!--      {{ content }}-->
<h2>PROFESSIONAL SUMMARY</h2>

<ul>                                                                         
<li>Energy And IT Professional having 5+ years on IT Consulting on Energy Domain.                                                                                                                                               </li>
<li>Experience in Data Acquisition System (DAS), Machine-to-Machine (M2M) Communication and Energy Management Solutions (EMS) including System Architecture, Hardware and Software solutions.                                   </li>
<li>Have hands on experience in Communication Protocol - MODBUS(RTU - RS485) , DLMS , etc and Internet of Thing(IoT) – Gateways (Raspberry PI/Cubieboard boards), 2G/3G SIMCOM800 series GSM boards, Relay boards, Sensors, etc.</li>
<li>IT Programming - C, Python, Database SQL Scripts, Linux Bash Shell.                                                                                                                                                         </li>
<li>IT Networking - Protocols (HTTP, FTP, SSH), Domain and Hosting Service Administration and Microsoft office365 Administration.                                                                                               </li>
</ul>

<h2>EXPERIENCE OVERVIEW</h2>
<p>
<b>Organization #1:</b> Idam Infrastructure Advisory Pvt. Ltd., New Delhi				<br>
<b>Duration:</b> July 2017 to Present (1.9 Years)                                      <br>
<b>Designation:</b> Consultant                                                         <br>
<b>Deputation:</b> IoT - Product Development - Enfragy Solutions India Pvt Ltd, Kolkata<br> 
</p>

<h3>Job Responsibility</h3>
<ul>                                                                                                                                                                 </li>
<li>Business Analyst, Software Requirements Specification (SRS), R&D and Product Development for Enfragy’s IoT Platform WattGuru.                                    </li>
<li>M2M communication protocols – MODBUS and DLMS (Energy Meter)                                                                                                     </li>
<li>Responsible for configuration of IoT Gateways of WattGuruEMS and WattGuruSOLAR. Gateways Configuration and providing support to Frontend Application Development.</li>
<li>Hands on experience in working with BCM2837 (Raspberry Pi) based SoC, Linux Shell Scripting, Networking Concepts (WI-FI, GSM, ZIGBEE), Sensors, etc.             </li>
<li>USAID’s Project on National Centralized Monitoring Center (NCMC) for Solar Rooftop System, National Institute of Solar Energy(NISE), New Delhi                   </li>
</ul>

<p>
<b>Organization #2:</b> OPG Power Generation Ltd (2 x 77MW, 1 x 80MW), Chennai<br>
<b>Duration:</b> March 2014 to May 2015 (1 year 2 Months)                     <br>
<b>Designation:</b> Engineer-Operations                                       <br>
</p>

<h3>Job Responsibility</h3>
<ul>
<li>Responsible for operation of PF Boiler, Stream turbine system on a day to day basis and on a shift basis which includes safe Startup and Shutdown of Plant from DCS.</li>
<li>Monitoring Plant Parameters, equipment changeover schedules and coordination with maintenance department for equipment maintenance activities.                      </li>
</ul>

<p>
<b>Organization #3:</b> Wipro Technologies Ltd.            <br>
<b>Duration:</b> February 2010 to February 2013 (3 Years)  <br>
<b>Designation:</b> Project Engineer.                      <br>
</p>

<h3>Job Responsibility</h3>
<ul>
<li>Worked as a data warehouse developer in Analytics and information management vertical with experience in ETL (Talend, Ab initio) and Reporting Tools (Cognos, Business Objects). </li>
<li>Have experience in SQL scripts and Databases like Oracle and Teradata.                                                                                                           </li>
</ul>

<h2>INTERNSHIPS</h2>

<h3>Nexant, Inc. (USAID PACE-D Contractor), New Delhi (2 Months)</h3>
<ul>
<li>Project monitoring and report validation for USAID Ajmer Smart grid pilot project                    </li>
<li>Reviewing the Smart Grid Training program manual and aiding in training program development activity.</li>
</ul>

<h3>Zenatix Energy Analytics, Gurgaon, Haryana (2 Weeks) </h3>
<ul>
<li>Performing Energy audit on TERI University campus with Zenatix smart metering system and provided solutions for energy analysis and energy conservation.</li>
</ul>

<h2>EDUCATIONAL QUALIFICATION</h2>
<ul>
<li><b>Post-Graduation:</b> Completed my M. Tech in Renewable Energy Engineering and Management in the year 2017 with 7.89 CGPA from The Energy and Resource Institute (TERI University), New Delhi.</li>
<li><b>PG Diploma:</b> Completed my Post Graduate Diploma in Thermal Power Plant Engineering in the year 2014 with 81% at National Power Training Institute (NPTI – SR), Neyveli, Tamil Nadu.       </li>
<li><b>Under Graduation:</b> completed my B.E in Electrical and Electronics Engineering in the year 2009 with 80% aggregate at Velammal Engineering College, Chennai.                               </li>
</ul>
<!--
<h2>DECLARATION</h2>
<p>I hereby declare that the information stated are true and correct to the best of my knowledge.<p>

<h4>DATE:</h4>
<br>
<h4>ANANDASUNDARARAMAN.S     </h4>                                                                                             
//-->


      </section>
   <!--
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
   
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
//-->
  </body>
</html>
